.bt-circle{
  display: block;
  position: relative;
  overflow: hidden;
}

ul.bt-circle-list{
  padding: 0;
  margin: 0;
}

.bt-circle-list{
  display: block;
  position: relative;

  .item{
    display: block;
    padding: @base-padding;
    margin: 1px;
  }

  .item.hide{
    display: none;
  }

}
table.bt-circle-list{
  display: table;

  .item{
    display: table-row;
    padding: 0;
  }
}