<div class="login" style="background:<%=bacColor%> url(<%=bacImg%>) no-repeat no-repeat center" >
    <div class="container clearfix">
        <form class="login-form">
            <div class="login-header">
                <label class="title">会员登录</label><a href="#/register" class="register">免费注册</a>
            </div>
            <div class="pk-input-group pk-left-center-inner">
                <span class="pk-input-add glyphicon glyphicon-user"></span>
                <input type="text" class="user" name="user">
            </div>
            <div class="pk-input-group pk-left-center-inner">
                <span class="pk-input-add glyphicon glyphicon-lock"></span>
                <input type="password" class="password" name="password">
            </div>
            <div class="pk-input-group">
                <a type="button" class="pk-input-control button">登录</a>
            </div>
        </form>
    </div>
</div>