<div class="h-group">
    <li class="logo left">
        <a href="/"><img src="../images/logo.png" alt="压货"></a>
    </li>
    <li class="search-box right js-search">
        <div class="clearfix">
            <ul class="h-group left">
                <li><a class="search-type active" data-search-type="sale" href="javascript:;;">找货</a></li>
                <li><a class="search-type" data-search-type="buy" href="javascript:;;">找采购</a></li>
            </ul>
        </div>
        <div class="search-input-box h-group ">
            <div class="pk-input-group pk-left-center-inner left">
                <span class="pk-input-add glyphicon glyphicon-search"></span>
                <input type="text" class="search-input" >
            </div>
            <a class="search-button right" href="javascript:void(0)">搜索</a>
        </div>
        <!--<div class="hot-search">-->
            <!--<label>热门搜索：</label>-->
            <!--<span><a href="">本乙烯</a></span>-->
            <!--<span><a href="">本乙烯</a></span>-->
            <!--<span><a href="">本乙烯</a></span>-->
            <!--<span><a href="">本乙烯</a></span>-->
        <!--</div>-->
    </li>
</div>