<table class="bt-table bt-table-border-bottom">
    <thead>
        <tr>
            <%
            var header = tableData.data[0];
            for(var i = 0,len = header.length ; i < len ; i++){
            %>
            <th><%=header[i]%></th>
            <%}%>
        </tr>
    </thead>
    <tbody class="">
        <%
        var row,body = tableData.data;
        for(var j = 1,len = body.length ; j < len ;j++){
        row = body[j]
        %>
        <tr class="tem-tr-<%=j%>">
            <script>
                new BT.TableRow({
                    wrapper:'.tem-tr-<%=j%>',
                    data:{
                        col_type:<%=JSON.stringify(tableData.colType)%>,
                        row_id:<%=j%>,
                        row:<%=JSON.stringify(row)%>
                    }
                });
            </script>
        </tr>
        <%}%>
    </tbody>
</table>

