<div class="clearfix">
    <ul class="bt-h-group bt-f-l">
        <li><a href="/login_register.html" class="small-padding">请登录</a></li>
        <li><a href="/login_register.html#/register" class="small-padding">免费注册</a></li>
    </ul>
    <ul class="bt-h-group bt-f-r bt-c-f-r">
        <li><a href="" class="small-padding">新手指南</a></li>
        <li><a href="" class="small-padding">会员福利</a></li>
        <li><a href="" class="small-padding">我的账号</a></li>
        <li><a href="" class="small-padding">我的供求</a></li>
        <li><a href="" class="small-padding">我的订单</a></li>
        <li><a href="" class="small-padding">我的消息</a></li>
    </ul>
</div>